<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrris.project.mapper.UserInterfaceInfoMapper">
  <resultMap id="BaseResultMap" type="com.yrris.project.model.entity.UserInterfaceInfo">
    <!--@Table user_interface_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userId" jdbcType="BIGINT" property="userid" />
    <result column="interfaceInfoId" jdbcType="BIGINT" property="interfaceinfoid" />
    <result column="totalNum" jdbcType="INTEGER" property="totalnum" />
    <result column="leftNum" jdbcType="INTEGER" property="leftnum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="isDelete" jdbcType="TINYINT" property="isdelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, interfaceInfoId, totalNum, leftNum, `status`, createTime, updateTime, 
    isDelete
  </sql>
</mapper>